<!DOCTYPE html>
<html>
<!-- IMPORT CSS-->
<link rel="stylesheet" href="Footer.css">
<head>
<meta charset="ISO-8859-1">
<title>Footer</title>
</head>
<body>
	<div class="footer-bottom-area bg-dark-light section-padding-sm">
		<div class="container">
			<div class="row widgets footer-widgets">

				<div class="col-lg-3 col-md-6 col-12">
					<div class="single-widget widget-about">
						<h5 class="widget-title">Chi siamo</h5>
						<img class="logoxs" src="../images/logoxsp.png" alt="LogoSPsmall.png"> <span>Siamo
							un Team di quattro persone tutti studenti dell'università degli
							studi di Salerno UNISA, della facoltà di informatica, siamo tutti
							e quattro programmatori, con conoscenze in vari linguaggi di
							programmazione</span>
					</div>
				</div>

				<div class="col-lg-3 col-md-6 col-12">
					<div class="single-widget widget-quick-links">
						<h5 class="widget-title">Altro</h5>
						<ul>
							<li><a href="#">Privacy Policy</a></li>
							<li><a href="#">Cookies</a></li>
							<li><a href="#">Contatti</a></li>
						</ul>
					</div>
				</div>

				<div class="col-lg-3 col-md-6 col-12">
					<div class="single-widget widget-quick-links">
						<h5 class="widget-title">Link utili</h5>
						<ul>
							<li><a href="#">Crea gruppo di studio</a></li>
							<li><a href="#">Cerca gruppo di studio</a></li>
							<li><a href="#">Cerca aula libera</a></li>
						</ul>
					</div>
				</div>

				<div class="col-lg-3 col-md-6 col-12">
					<div class="single-widget widget-contact">
						<h5 class="widget-title">Contattaci</h5>
						<ul>
							<li class="address"><span class="icon"><i
									class="fa fa-map-marker"></i></span> Università degli studi di Salerno
							</li>
							<li class="phone"><span class="icon"><i
									class="fa fa-phone"></i></span> <a href="#">+39 348 66 52 297</a></li>
							<li class="email"><span class="icon"><i
									class="fa fa-envelope-o"></i></span> <a href="#">l.califano22@gmail.com</a>
							</li>
						</ul>
					</div>
				</div>

			</div>
		</div>
	</div>
</body>
</html>