@charset "ISO-8859-1";

.container-fluid {
	text-align: center;
}

.logo {
	padding: 1em;
	height: auto;
	width: 10em;
	height: auto;
}

.logoSPxl {
	padding: 1em;
	height: auto;
	width: 40em;
	height: auto;
}

.social {
	width: 2em;
	height: auto;
	margin-left: 1em;
}

.form-control{
	margin: 5px;
}

.btnCerca{
	
	margin-left: 71%;
	color: white;
	background-color: #a01313;
	border-radius:10px;
	box-shadow: 0px 0px 0px 2px #a01313;
	
	
}

.navbar-custom {
    background-color: #a01313; 
    
    
}
.navbar-custom a {
   color:white;
}

