.tabella{
	background-color: #a01313;
	color: #000000;
	border-collapse: collapse !important;
	border :1px solid #ffffff !important;
	margin-bottom: 10px !important;
}

th, td {
	text-align: center !important;
	border :1px solid #000000 !important;
	
}